.App {
  text-align: center;
}

.Card {
  width: 18rem;
  display: flex;
}

.card-img{
  height:200px;
  width: 200px;
}
.Cart {
  height: 80px;
  background-color: aqua;
  padding-top: 25px;
  font-size: xx-large;
  /* font-family: 'Courier New', Courier, monospace; */
}
.cartquantity{
  background-color: aliceblue;
}

.image img{
  height:150px;
  width:150px;
}

.footer{
  display:contents;
  justify-content: space-between;
}

.image{
  position:relative;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
}

.sub{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main{
  padding: 5%;
}

.head{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

/* .items-img {
  align-items: center;
  justify-content: center;
  height: 300px;
  width:300px
}  */

.items-img img {
  height: 120px;
  width: 150px;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
